@import "tailwindcss";


:root {
  --bg-main: #F4EFE6;      /* linen */
  --bg-sidebar: rgba(244, 239, 230, 0.7);
  --ink: #1E1E1C;
  --stone: #6B6A65;

  --gold: #C5A14A;
  --ultramarine: #1F4E8C;
}

html { scroll-behavior: smooth; }

body {
  background: var(--bg-main);
  color: var(--ink);
}
