@import "tailwindcss";

/* Theme colors */
:root {
  --bg-main: #09294e;       /* Deep cosmic background */
  --bg-sidebar: #09294ee1;    /* Sidebar cosmic blue */
  --accent-blue: #9aafc1;   /* Nebula purple */
  --accent-yellow: #757e32; /* Stellar orange */
  --text-main: #e20b0b;     /* Starlight text */
}

body {
  background: var(--bg-main);
  color: var(--text-main);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

html, body {
  width: 100%;
  min-height: 100%;
  height: 100%;
  overflow-x: hidden;
}

.particles-container canvas {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}


